* {
  box-sizing: border-box;
}

body, html {
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #d6d6d6;
}

#menubar {
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  width: 100%;
  background-color: #002E5D;
  -webkit-app-region: drag;
}

#sidebar {
  position: fixed;
  top: 40px;
  left: 0;
  height: calc(100vh - 40px);
  width: 200px;
  background-color: #666666;
}